<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:decorate="template1"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3">
        <form method="post" th:action="@{sauve}">
            <div>
                <br><label for="name"> NAME</label>
                <input id="name" class="form-control" type="text" name="name" th:value="${four.name}">
                <span th:errors="${four.name}"></span>
            </div>
            <div>
                <br><label for="name"> Prenom</label>
                <input id="prenom" class="form-control" type="text" name="prenom" th:value="${four.prenom}">
                <span th:errors="${four.prenom}"></span>
            </div>
            <div>
                <br><label> Quantity</label>
                <input class="form-control" type="text" name="quantity" th:value="${four.quantity}">
                <span th:errors="${four.quantity}"></span>
            </div>
            <div>
                <br><label> Phone</label>
                <input class="form-control" type="text" name="phone" th:value="${four.phone}">
                <span th:errors="${four.phone}"></span>
            </div>
            <div>
                <br><label> Nom du Produit</label>
                <input class="form-control" type="text" name="productname" th:value="${four.productname}">
                <span th:errors="${four.productname}"></span>
            </div>
            <br><button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
</body>
</html>
